.page-header {
	background-color: #BF00FF !important;
}
.panel
.panel-heading {
    background: #3599ff !important;
    background-color: #3599ff !important;
    border-color: #3599ff !important;;
    color:#BF00FF !important;
}

.panel-footer {
    background: #0073e7 !important;
    background-color: #0073e7 !important;
    border-color: #0073e7 !important;;
    color:#fff !important;
}